<div class="jumbotron container container-fluid">
    <h2>User Management</h2>
    
    <form [formGroup]="userForm">
        <!-- {{userForm.value | json}} -->
        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control" formControlName="username" 
            [class.is-invalid]="username?.invalid && username?.touched">
            <!-- <div *ngIf="username?.invalid && (username?.dirty || username?.touched)"> -->
            <!-- <div *ngIf="username?.errors?.['required'] && (username?.dirty || username?.touched)">
                <small class="text-danger">Name is required</small> 
            </div>
            <div *ngIf="username?.errors?.['minlength']">
                <small class="text-danger">Minlength is 3</small>
            </div> -->

            <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                <div [hidden]="!username?.errors?.['required']">
                    <small class="text-danger">Name is required</small>
                </div>
                <div [hidden]="!username?.errors?.['minlength']">
                    <small class="text-danger">Name too short</small>
                </div>
                <div [hidden]="!username?.errors?.['forbidden']">
                    <small class="text-danger">Forbidden name</small>
                </div>
            </div>


        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
            <div class="text-danger" *ngIf="userForm.errors?.['misMatch']">
                Password mismatch
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email">
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div [hidden]="!email?.errors?.['email']">
                <small class="text-danger">Email is invalid</small>
            </div>
            </div>
        </div>

        <div class="form-group">
            <label for="age">Enter your age</label>
            <input type="text" class="form-control" formControlName="age">
        </div>
        <div *ngIf="age?.invalid && (age?.dirty || age?.touched)">
            <div [hidden]="age?.valid"> 
                <small class="text-danger">Age cannot be a negative number</small>
            </div>
        </div>
        <div class="form-group" *ngIf="ageCheck">
            <label for="parentName">Enter your parent's name</label>
            <input type="text" class="form-control" formControlName="parentName">
        </div>

        <div>
            <button class="btn btn-warning mt-4" (click)="onAddHobby()">Add Hobby</button>      
            <div formArrayName="Hobbies" *ngFor="let hobby of Hobbies.controls; index as i">
                <input type="text" class="form-control" [formControlName]="i"> 
                <button class="btn btn-danger mt-4" (click)="onDeleteHobby(i)">X</button>
            </div>
        </div>

     
        <!-- <div formGroupName="address" class="mx-5 mt-3">
            <h3>Address:</h3>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" formControlName="state">
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" formControlName="country">
            </div>
        </div> -->
    
        <button [disabled]="userForm.invalid" class="btn btn-primary mt-5">Submit</button>
        <button class="btn btn-outline-secondary mt-5" (click)="loadData()">Load Data</button>
    </form>
</div>