<div class="container">
    <form class="col-md-6 mx-auto" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)"> 
        <!-- {{userForm.value | json}}  -->
        <hr>
        <!-- {{user | json}} -->


        <div class="form-group mt-3">
            <label for="id">ID</label>
            <input required type="text" class="form-control" #id="ngModel" name="id" [(ngModel)]="user.id" [class.is-invalid] ="id.invalid && id.touched">
            <div *ngIf="id.invalid && (id.dirty || id.touched)">
                <small class="text-danger">ID is required</small>
            </div>
        </div>
        <!-- {{id.className}} -->


        <div class="form-group mt-3">
            <label for="firstName">First Name</label>
            <input required minlength="3" type="text" class="form-control" #name="ngModel" name="firstName" [(ngModel)]="user.firstName" [class.is-invalid] ="name.invalid && name.touched">
            <div *ngIf="name.errors?.['required']">
                <small class="text-danger">Name is required</small>
            </div>
            <div *ngIf="name.errors?.['minlength']">
                <small class="text-danger">Minimum length is 3</small>
            </div>
        </div>
        <!-- {{name.untouched}} {{name.pristine}} {{name.valid}} -->


        <div class="form-group mt-3">
            <label for="email">Email</label>
            <input type="email" email class="form-control" #email="ngModel" name="email" [(ngModel)]="user.email">
            <div *ngIf="email.errors?.['email']">
                <small class="text-danger">Email is not valid</small>
            </div>
        </div>


        <div class="form-group mt-3">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" pattern="^\d{10}$" #phone="ngModel" name="phone" [(ngModel)]="user.phone" [class.is-invalid] ="phone.invalid && phone.touched">
        </div>


        <div class="form-group mt-3">
            <label for="country">Country</label>
            <select name="country" class="form-select" [(ngModel)]="user.country">
                <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success mt-3">Submit</button>
    </form>


    <!-- <p>Form Validity: {{userForm.valid}}</p>
    <p>Form is Touched: {{userForm.touched}}</p> -->

</div>


