<div class="container">
    <form class="col-md-6 mx-auto" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)"> 
        <!-- {{userForm.value | json}}  -->
        <hr>
        <!-- {{user | json}} -->
        <div class="form-group mt-3">
            <label for="id">ID</label>
            <input required type="text" class="form-control" #id name="id" [(ngModel)]="user.id">
        </div>
        {{id.className}}
        <div class="form-group mt-3">
            <label for="firstName">First name</label>
            <input required type="text" class="form-control" #name="ngModel" name="firstName" [(ngModel)]="user.firstName" [class.is-invalid] ="name.invalid">
        </div>
        {{name.untouched}} {{name.pristine}} {{name.valid}}
        <div class="form-group mt-3">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="user.email">
        </div>
        <div class="form-group mt-3">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="user.phone">
        </div>
        <div class="form-group mt-3">
            <label for="country">Country</label>
            <select name="country" class="form-select" [(ngModel)]="user.country">
                <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success mt-3">Submit</button>
    </form>
    <p>Form Validity: {{userForm.valid}}</p>
    <p>Form is Touched: {{userForm.touched}}</p>

</div>


