

<div class="jumbotron containter container-fluid">
    <table class="table table-bordered">
        <tr>
            <th>User name</th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th>User email</th>
            <td>{{user.email}}</td>
        </tr>
    
    </table>
</div>

<div>
    <ul class="navbar-nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="office">Office</a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>